body{
    font-family: sans-serif;
}

/* information part */
.year{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 400px;
    background-color: #FCB500;
  
}
table{
    margin-left: 400px;
    width: 50%;
    font-size: 30px;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    border: 5px solid black;
    height: 50vh;
    
  
}

.heading{
    background-color: black;
    border: 5px solid black;
    color: white;
}