*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.logo span{
    color: #FCB500;
}
.navbar{
    height: 100vh;
    width: 100%;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    background: #FCB500;
    background-repeat: no-repeat;
    position: relative;
    bottom: -30px;
    right: 100px;


}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;


    
}
nav ul li a:hover{
    color: blue;
    transition: 0.4s;
}
.navlinks{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.navlinks.info{
    display: inline-block;   
}
.img_1{
    width: 84.5em;
    height: 60em;
    position: relative;
    top: -500px;
    right: -0px;
    border-top-width: 0px 20px 10px;
}
section{
    display: flex;
    justify-content: space-evenly;
}
.intro{
    position: relative;
    bottom: 480px;
    right: 7px;
}
.welcome{
    position: relative;
    bottom: 350px;
}
.welcome h1{
    color: #FCB500;
}
button{
    width: 100px;
    height: 30px;
    color: white;
    font-size: larger;
    background: #FCB500;
    border: #FCB500;
    border-radius: 5px 5px 5px 5px;
}
button:hover{
    background-color:blue;
    color: black;
    cursor: pointer;
}
section.read:hover{
    color: blue;
}
.serve{
    height: 80em;
    background:black;
    position: relative;
    bottom: 450px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.services{
    width: 300px;
    margin: 30px;
    padding: 5px;
}
.services:hover{
    box-shadow: #FCB500;
}
.images{
    width: 100%;
    border-radius: 10px 10px 0px 0px;  
}
.img_body h2{
    text-align: center;
    color: #FCB500;
}
.img_body p{
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
}
.img_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_footer button{
    width: 150px;
    background-color: #FCB500;
    color: white;
    border-radius: 15px;
    border:2px solid #FCB500;
    padding: 6px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 10px;


}
.img_footer button:hover{
    background-color:white;
    color: black;
    border: 2px solid #FCB500;


}




